body {
    font-family: 'Ubuntu', sans-serif;
}

/*#susanHeading {
    font-style: italic;
}*/
.navbar {
    height: 100px;
}

nav {
    background-color: #323459;
    background-image: url(/assets/images/nursing2.jpg);
}

header#home {
    background: url(/assets/images/11_2.jpg) no-repeat;
    background-size: 100%;
}

header div {
    color: white;
}

header p {
    color: white;
}

.navbar-brand img {
    height: 80px;
}

#services h2 {
    font-style: italic;
    font-weight: bold;
}

.card-block {
    background-color: lightblue
}

/*++++++++++++++++++++Staff.html +++++++++++++++++++++*/

/*++++++++++++++++++++About.html +++++++++++++++++++++*/

#about img {
    width: 80%;
}

