/*html{
    height:100%;
    overflow:hidden;
}*/

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.navbar {
    height: 100px;
}

nav {
    background-color: #323459;
    background-image: url(../assets/images/nursing2.jpg);
}

header#home {
    position: relative;
    /*overflow: hidden;*/
    /*display: block;*/
    /*padding-bottom:1%;*/
    /*background: url(../assets/images/11_2.jpg) no-repeat;
    background-size: 100%;*/
    /*height: 100%;*/
}

header#home::after {
    content: "";
    position: absolute;
    background: url(../assets/images/11_2.jpg) no-repeat;
    background-size: 100%;
    opacity: .4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

header div {
    color: black;
    opacity: 1;
}

header p {
    color: black;
    opacity: 1;
}

.navbar-brand img {
    height: 80px;
}

.navbar-brand span.subHead {
    font-family: 'Lobster', cursive;
    font-size: 1.6em;
}

.navbar-brand p {
    margin-left: 115px;
    margin-top: -30px;
    font-size: 1em;
    font-style: normal;
    color: orange;
    letter-spacing: 2px;
}

.outer {
    margin: 8% auto;
}

.outer p {
    font-size: 1.2em;
    font-weight: 600;
}

#services h2 {
    font-style: italic;
    font-weight: bold;
}

.card-block {
    background-color: #D5C8FF;
    /*height:50%;*/
}

.card-text {
    padding-left: 5%;
}

.outerContainer {
    background: rgba(215, 205, 255, .3);
    /*height: 100%;*/
    padding-bottom:20px;
}

.container.card-deck {
    /*padding-top: 30px;*/
    width:80%;
    /*height:auto;*/
}

.services.card.card-outline-info {
    margin-top: 10%;
    width: 20rem;
    border-color: rgb(170, 163, 230);

}

.services.card.card-outline-info li {
    font-size: 1.2em;
    padding: 2% 0px;
}

.card-info {
    background-color: rgb(170, 163, 230);
    border-color: rgb(170, 163, 230);
}


/*
.card-deck .card:nth-child(3) {
    margin-left: -2%;
}*/


/*++++++++++++++++++++Staff.html +++++++++++++++++++++*/


/*++++++++++++++++++++About.html +++++++++++++++++++++*/

#about img {
    width: 80%;
}

.kontact {
    text-align: center;
}

/*++++++++++++++++++++Footer +++++++++++++++++++++*/

footer {
    text-align: center;
}

footer div {
    background-color: lightblue;
    width: 100%;
    height: 80px;    
}

.content-wrap h2 {
    padding-top: 15px;
}

.copyright {
    margin-top: 10px;
}
